doctype html
html
  head
    meta(charset='utf-8')
    title FolderOpen
    script.
      if (10 == 10) {
        alert("working");
        window.open( "file:///Users/changhokang/Desktop/workspace/" );
      }
  body
    input(type='file' id='file_input' directory='/Users/changhokang/Desktop/workspace/')
