doctype html
html
  head
    meta(charset='utf-8')
    title Welcome EBS Management System
    link(rel='stylesheet' type='text/css' href='login.css')
  body
    center
      div(id='div_header')
        h2
          a(href='') EBS Management System
    center
      div(id='div_login')
        form(id='frm_login' action='/loginAction' method='post')
          fieldset(id='fs_login')
            dl
              dt
                Label Login ID
              dd
                input(id='ip_id' name='ip_id' type='text')
              dt
                Label Password
              dd
                input(id='ip_pw' name='ip_pw' type='password')
            img(id='img_submit' src='/9019.png' onclick='javascript:submit();')
    center
      div(id='div_footer')
        h6 &copy Changho Kang PLM Consulting Team Doosan I&C
        h6 changho1.kang@doosan.com
