<script language='javascript' type='text/javascript'>
function clickMouse() {
if ((event.button == 2) || (event.button == 3)) {
return (false);
}
}
function clickKey() {
if((event.shiftKey) && (event.keyCode == 121)) {
return false;
}
}
function noAction() {
return false;
}
document.onmousedown=clickMouse;
document.onkeydown=clickKey;
document.oncontextmenu=noAction;
document.ondragstart=noAction;
document.onselectstart=noAction;
</script>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=ks_c_5601-1987'>
<title>두산인프라코어 시험성적서 : 0109_110406-0879T-C</title>
</head>
<body bgcolor=white text=black link=blue vlink=purple alink=red>
<br>
<br>
<table border=2 cellpadding=0  bordercolor=#A4B0BE cellspacing=0 width=700 align=center style=border-collapse:collapse;>
<tr align=center>
<td width='25%' style='border-right-color:white'><p align=right><img src=doosan_k.gif width=130 height=41 border=0>&nbsp;&nbsp;</p></td>
<td width='50%' style='border-left-color:white;border-right-color:white'>
<p align=center><font size=6><b>두산인프라코어(주)</b></font>
<br><font size=2>(우)401-020 인천광역시 동구 화수동 7-11번지<br>TEL:(032)211-1920&nbsp;&nbsp;FAX:(032)762-1521</font>
</td>
<td width='25%' style='border-left-color:white'><p align=left></p></td>
</tr>
<tr align=right><td colspan=3 style='border-top-color:white;border-bottom-color:white'><p class='hidden1'>&nbsp;<font size=2></font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white'><p class='hidden1'><font size=5>시 험 성 적 서</font></p></td></tr>
<tr align=right><td colspan=3 style='border-top-color:white;border-bottom-color:white'><p class='hidden1'><font size=2>페이지(1)&nbsp;/&nbsp;(총&nbsp;1)&nbsp;</font></p></td></tr>
<tr align=center>
<td colspan=3 style='border-bottom-color:white'>
<table width='99%' border=2 bordercolor=#A4B0BE style=border-collapse:collapse; align=center>
<tr align=center height='20'>
<td width='20%'><p><font size=2>성적서번호</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;0109_110406-0879T-C</font></p></td>
<td width='15%'><p><font size=2>품&nbsp;&nbsp;&nbsp;&nbsp;번</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;1ap-5</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>구분 / 접수번호</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;외주품 / C-2011-0852</font></p></td>
<td width='15%'><p><font size=2>품&nbsp;&nbsp;&nbsp;&nbsp;명</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;O-Ring</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>접수일 / 시험일</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;2011-04-05 / 2011-04-06</font></p></td>
<td width='15%'><p><font size=2>재질명</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;NBR상당</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>의뢰자</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;박용희/501832</font></p></td>
<td width='15%'><p><font size=2>기&nbsp;&nbsp;&nbsp;&nbsp;종</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>의뢰부서</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;CE 건기.품질기획팀 부품검사2직</font></p></td>
<td width='15%'><p><font size=2>기관명</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;득인</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>시료수</font></p></td>
<td width='40%'><p align=left><font size=2>&nbsp;1</font></p></td>
<td width='15%'><p><font size=2>Lot No.</font></p></td>
<td width='25%'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>시험실환경</font></p></td>
<td colspan=3><p align=left><font size=2>&nbsp;온도&nbsp;:&nbsp;(&nbsp;22.0&nbsp;±&nbsp;1.0&nbsp;)&nbsp;℃&nbsp;,&nbsp;상대습도&nbsp;:&nbsp;(&nbsp;27&nbsp;±&nbsp;3&nbsp;)&nbsp;% R.H.</font></p></td>
</tr>
</table>
</td>
</tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>
<tr align=center>
<td colspan=3 style='border-bottom-color:white'>
<table width=99% border=2 bordercolor=#A4B0BE style='border-collapse:collapse;' align=center>
<tr height='20'>
<td width='24%' rowspan=2><p align=center><font size=2>시험항목</font></p></td>
<td width='15%' rowspan=2><p align=center><font size=2>단위</font></p></td>
<td width='44%' colspan=1><p align=center><font size=2>시&nbsp;&nbsp;험&nbsp;&nbsp;결&nbsp;&nbsp;과</font></p></td>
<td width='17%' rowspan=2><p align=center><font size=2>시험규격</font></p></td>
</tr>
<tr height='20'>
<td width='44%'><p align=center><font size=2>#1</font></p></td>
</tr>
</table>
</td>
</tr>
<tr align=center>
<td colspan=3 style='border-bottom-color:white'>
<table width=98% border=0 bordercolor=#A4B0BE style='border-collapse:collapse;' align=center>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;재질분석(FT/IR)</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2>-</font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2>NBR상당</font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;KS MISO 4650:2</font></p></td>
</tr>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2></font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2></font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;009</font></p></td>
</tr>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;비중</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2>-</font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2>1.26</font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp; </font></p></td>
</tr>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;경도(IRHD)</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2>도</font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2>60</font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;ISO 48</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;♣1) 침지시험조건&nbsp;( 시험유 : RANDO DSZ46, &nbsp;온도:120&nbsp;℃, &nbsp;시간 : 70&nbsp;h, &nbsp; )</font></p></td>
</tr>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;경도변화(IRHD)</font><font size=1>♣1)</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2>도</font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2>+12</font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;ISO 48</font></p></td>
</tr>
<tr height='20'>
<td width='24%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;부피변화율</font><font size=1>♣1)</font></p></td>
<td width='15%' style='border-bottom-style:hidden;'><p align=center><font size=2>%</font></p></td>
<td colspan=4 style='border-bottom-style:hidden;'><p align=center><font size=2>-7.2</font></p></td>
<td width='17%' style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;KS M 6518:2006</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=center><font size=2>-* 이하여백 *-</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
<tr height='20'>
<td colspan=7 style='border-bottom-style:hidden;'><p align=left><font size=2>&nbsp;</font></p></td>
</tr>
</table>
</td>
</tr>
<tr align=center>
<td colspan=3 style='border-bottom-color:white'>
<table width=99% border=2 bordercolor=#A4B0BE style=border-collapse:collapse; align=center>
<tr align=center height='20'>
<td width='20%'><p><font size=2>시험성적서의 용도</font></p></td>
<td colspan=3><p align=left><font size=2>&nbsp;품질관리용</font></p></td>
</tr>
<tr align=center height='20'>
<td width='20%'><p><font size=2>비&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;고</font></p></td>
<td colspan=3><p align=left><font size=2>&nbsp; (<a href='11-0852.xls' target='_blank'>11-0852.xls</a>)</font></p></td>
</tr>
</table>
</td>
</tr>
<tr align=center>
<td colspan=3 style='border-bottom-color:white'>
<table width=99% border=2 bordercolor=#A4B0BE style=border-collapse:collapse; align=center>
<tr valign='middle'>
<td width='16%' rowspan='2'><p align=center><font size=2>확&nbsp;&nbsp;인</font></p></td>
<td width='16%' style='border-bottom-color:white;border-right-color:white;'><p align=left><font size=2>&nbsp;시험자</font></p></td>
<td width='13%' style='border-bottom-color:white;border-right-color:white;'><p>&nbsp</p></td>
<td width='13%' rowspan='2'><p align=left><font size=2><img src=kjh0324_sain.gif width=50 height=25 border=0></font></p></td>
<td width='16%' style='border-bottom-color:white;border-right-color:white;'><p align=left><font size=2>&nbsp;기술책임자</font></p></td>
<td width='13%' style='border-bottom-color:white;border-right-color:white;'><p>&nbsp</p></td>
<td width='13%' rowspan='2'><p align=left><font size=2><img src=kmlee_sain.gif width=50 height=25 border=0></font></p></td>
</tr>
<tr valign='middle'>
<td width='16%' style='border-right-color:white;'><p align=left><font size=2>&nbsp;성&nbsp;&nbsp;&nbsp;명&nbsp;:</font></p></td>
<td width='13%' style='border-right-color:white;'><p align=left><font size=2>김진희</font></p></td>
<td width='16%' style='border-right-color:white;'><p align=left><font size=2>&nbsp;성&nbsp;&nbsp;&nbsp;명&nbsp;:</font></p></td>
<td width='13%' style='border-right-color:white;'><p align=left><font size=2>이경목</font></p></td>
</tr>
</table>
</td>
</tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>
<tr align=left><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;(주)&nbsp;1&nbsp;. 이 성적서 위의 내용은 시험의뢰인에 의해 제공한 시료에 한하며, 용도이외의 사용을 금합니다.</font></p></td></tr>
<tr align=left><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;. 성적서의 재발급은 승인자의 서명 승인이 있어야 가능함.</font></p></td></tr>
<tr align=left><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3&nbsp;. '★' 표시는 위탁시험항목임.</font></p></td></tr>
<tr align=left><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>2011년 4월 6일</font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=5>두산인프라코어 주식회사 대표이사 (인)</font></p></td></tr>
<tr align=center><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=3>&nbsp;</font></p></td></tr>
<tr align=left><td colspan=3 style='border-bottom-color:white;border-top-color:white'><p><font size=2>&nbsp;</font></p></td></tr>

</table>
<table border=0 cellpadding=0  bordercolor=#A4B0BE cellspacing=0 width=700 align=center style=border-collapse:collapse;>
<tr align=left>
<td><p align=left><font size=1>[RMP-026F-2(갑) (2010.02.05)]</font></p></td>
<td><p align=center><font size=1>A4 (210×297mm)</font></p></td>
<td><p align=right><font size=1>두산인프라코어(주)</font></p></td>
</tr>
</table>
</body>
</html>
