doctype html
html
  head
    meta(charset='utf-8')
    title EBS Management System
    link(rel='stylesheet' type='text/css' href='main.css')
  body
    div(id='div_header')
      h2
        a(href='') EBS Management System
    div(id='div_menu')
      ul
        each val in menus
          li
            a(href=val.location)= val.menuName
    div(id='div_left')
      ul
        each val in systems
          li
            a(href='/systems')= val.systemName
    div(id='div_content')
        table(id='tb_weekly')
          tr
            td(class='td_cl_lable') Target <br> date
            td(colspan=3)
              img(class='img_tri' src='backward.png' onclick='backward();')
              = 'July. 4th. 07.07~07.13'
              img(class='img_tri' src='forward.png' onclick='forward();')
          tr
            td(class='td_cl_lable') Management
            td(colspan=3)
              input(type='text')
          tr
            td(class='td_cl_lable') Weekly <br> Result
            td(class='td_cl_content')
              textarea
            td(class='td_cl_lable') Weekly <br> Issue
            td(class='td_cl_content')
              textarea
          tr
            td(class='td_cl_lable') Next <br> week <br> Plan
            td(class='td_cl_content')
              textarea
            td(class='td_cl_lable') Next <br> week <br> Issue
            td(class='td_cl_content')
              textarea
          tr
            td(class='td_cl_lable') Round <br> Table <br> Issue
            td(colspan=3)
              textarea
          tr
            td(class='td_cl_lable') Vocation <br> / <br> Education
            td(colspan=3)
              textarea
    div(id='div_footer')
